<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div> -->

<!-- <app-like></app-like> -->
<!-- <app-favorite [isFavorite]="true"></app-favorite> -->
<!-- <app-course></app-course> -->
<!-- <app-authors></app-authors> -->
<!-- <zippy title="Shipping Details">
  Details are as follows
</zippy>
<zippy title="Order Details">
  Order Details are as follows
</zippy> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
